<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.flyingbags.flyingapps">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBw5xn9pWy9p6XiXb6YD0Z9CBvSMBRa45s" />
        <activity
            android:name=".view.LoadingActivity"
            android:theme="@style/LoadingTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/LoginTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.MainActivity">
        </activity>
        <activity android:name=".view.ScheduleDeliveryActivity">
        </activity>
        <activity android:name=".view.OrderConfirmActivity">
        </activity>
        <activity android:name=".view.OrderCommitActivity">
        </activity>
        <activity android:name=".view.Login2Activity">
        </activity>
        <activity android:name=".view.ProfileActivity" />

    </application>

</manifest>